<div class="row">
    <div class="col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>

    <div class="col-sm-10 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
        <form method="post" id="frmInicioSesion">
            <div class="mb-2">
                <label for="usuario">Usuario:</label>
                <input type="text" id="usuario" name="usuario" class="form-control form-control-lg while-waiting" autocomplete="username" spellcheck="false" required autofocus>
            </div>
            <div class="mb-2">
                <label for="contrasena">Contraseña:</label>
                <div class="input-group">
                    <input type="password" id="contrasena" name="contrasena" class="form-control form-control-lg while-waiting" autocomplete="current-password" minlength="5" maxlength="20" aria-describedby="basic-addon1" required>
                    <span class="input-group-text toggle-password bg-body" id="basic-addon1" style="font-size: 1.25em; cursor: pointer;"><i class="bi bi-eye"></i></span>
                </div>
            </div>
            <div class="mb-2 text-end">
                <button class="btn btn-primary btn-lg while-waiting">
                    <i class="bi bi-box-arrow-right" style="font-size: 1.25em;"></i>
                    Iniciar Sesión
                </button>
            </div>
        </form>
        <div class="div-inicio-sesion"></div>
    </div>

    <div class="col-sm-1 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
    </div>
</div>

<div class="div-to-complete-screen"></div>
