<form method="post" id="frmInicioSesion">
    <div class="mb-1">
        <label for="txtUsuario">Usuario:</label>
        <input type="text" id="txtUsuario" name="txtUsuario" class="form-control">
    </div>
    <div class="mb-1">
        <label for="txtContrasena">Contraseña:</label>
        <input type="password" id="txtContrasena" name="txtContrasena" class="form-control">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Iniciar Sesión</button>
    </div>
</form>
