<form id="frmMascota" method="post">
    <input type="hidden" id="txtIdMascota" name="idMascota">
    <div class="mb-1">
        <label>Nombre</label>
        <input type="text" class="form-control" id="txtNombre" name="txtNombre">
    </div>
    <div class="mb-1">
        <label>Sexo</label>
        <input type="text" class="form-control" id="txtSexo" name="txtSexo">
    </div>
    <div class="mb-1">
        <label>Raza</label>
        <input type="text" class="form-control" id="txtRaza" name="txtRaza">
    </div>
    <div class="mb-1">
        <label>Peso</label>
        <input type="number" class="form-control" id="txtPeso" name="txtPeso">
    </div>
    <div class="mb-1">
        <label>Condiciones</label>
        <input type="text" class="form-control" id="txtCondiciones" name="txtCondiciones">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Raza</th>
                <th>Peso</th>
                <th>Condiciones</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyMascotas"></tbody>
    </table>
</div>


