<form id="frmPadrino" method="post">
    <div class="mb-1">
        <label for="txtNombrePadrino">Nombre del Padrino</label>
        <input type="text" class="form-control" id="txtNombrePadrino" name="txtNombrePadrino">
    </div>
    <div class="mb-1">
        <label for="txtSexo">Sexo</label>
        <input type="text" class="form-control" id="txtSexo" name="txtSexo">
    </div>
    <div class="mb-1">
        <label for="txtTelefono">Teléfono</label>
        <input type="text" class="form-control" id="txtTelefono" name="txtTelefono">
    </div>
    <div class="mb-1">
        <label for="txtEmail">Correo Electrónico</label>
        <input type="text" class="form-control" id="txtEmail" name="txtEmail">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
<div class="table-responsive">
    <table class="table table-sm">
        <thead class="table-active">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Correo Electrónico</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbodyPadrinos"></tbody>
    </table>
</div>

